@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #191919;
  --headings: #ffffff;
  --footer: #161616;
  --typograph: #cccccc;
  --muted: #636363;
  --brand: #ffd911;
}

body {
  background: rgb(var(--background));
  /* Remove Arial and use Inter from your font configuration */
  @apply font-sans text-typograph;
  /* OR if you want to specify the weight */
  @apply font-sans font-normal text-typograph;
}
